.legend {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 80px;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.label {
  margin-left: 5px;
  font-size: 14px;
  color: black;
}
