.container {
}

.table {
  position: relative;
}

.table th {
  resize: horizontal;
  overflow: auto;
}

.tableContainer {
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--size-radius-200);
}

.head {
  position: sticky;
  top: 0;
  background: white;
}

.sortItem {
  margin-left: 8px;
  position: relative;
  top: 3px;
  cursor: pointer;
}
